.artist-page-container{
    margin: 10px;
    color: white;
}

.artist-page-header-container{
    display: flex;
    margin: 10px 0px;

}

.artist-page-header__right{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    margin-left: 10px;
}

.artist-page-header-right__top{
    display: flex;

}

.artist-page-header-right__bottom{
    display: flex;
    justify-content: space-between;

}

.artist-page-header__verified{
    display: flex;
    justify-content: space-between;
    width: 10%;
}

.artist-page-header__checkmark{
    width: 24px;
}

.artist-page-header__artist-name{
    font-weight: bolder;
    font-size: 100px;
    text-align: end;
}

.artist-page-header__followers{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}
/* .artist-page-header__artist-name{
    width: 50%;
}

.artist-page-header__followers{
    width: 50%;
} */
