.playlist-header-container{
    display: flex;
    margin: 20px 0px;
    align-items: flex-end;
}

.playlist-header__right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}

.playlist-header__right{
    width: 400px;
    height: 300px;
}

.playlist-header__name{
    font-weight: 700;
}

.playlist-header__left{
    width: 300px;
    height: 300px;
    margin-right: 10px;
}

.artist-page-header__picture{
    width: 350px;
}
