/* .playlist-items-body{
    overflow: hidden;
} */

.playlist__container{
    overflow: hidden;
}

.playlist__link{
    display: block;
    color: white;
}

.playlist__link:hover{
    color: white;
}
.playlist-link__container{
    margin: 8px 0px;
    width: 100%;
}
.playlist-link__container:hover{
    /* border: 1px solid black; */
    box-shadow: 0px 0px 2px 1px rgba(255, 0, 255, .2);;

}

.empty-playlist-container{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-size: 50px;
}
